/* ---------------Box Sizing----------------- */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    background-color: #000;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE1fHx8ZW58MHx8fHw%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
}

#wrap {
    width: 70vw;
    max-width: 900px;
    margin: 40px auto;
    background: rgba(170, 168, 168, 0.5);
    border: double 3px #c0c0c0;
    padding: 40px;
}

h1 {
    font-size: 2.2rem;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #c0c0c0;
}

a {
    color: #ffffff;
}
